body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:81px;
  top:186px;
  width:281px;
  height:964px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:964px;
}
#u1 {
  position:absolute;
  left:2px;
  top:474px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:163px;
  top:204px;
  width:126px;
  height:837px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:837px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:146px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:146px;
}
#u5 {
  position:absolute;
  left:2px;
  top:65px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:721px;
  top:18px;
  width:530px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:20px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:839px;
  top:14px;
  width:24px;
  height:24px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1187px;
  top:9px;
  width:68px;
  height:29px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:94px;
  top:56px;
  width:200px;
  height:66px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:66px;
}
#u16 {
  position:absolute;
  left:2px;
  top:25px;
  width:196px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:163px;
  top:1096px;
  width:131px;
  height:34px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:34px;
}
#u18 {
  position:absolute;
  left:2px;
  top:9px;
  width:127px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:94px;
  top:144px;
  width:234px;
  height:16px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:0px;
  top:1440px;
  width:1349px;
  height:100px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:100px;
}
#u25 {
  position:absolute;
  left:2px;
  top:18px;
  width:1345px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:1240px;
  width:1349px;
  height:200px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:200px;
}
#u27 {
  position:absolute;
  left:2px;
  top:92px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:181px;
  top:1240px;
  width:907px;
  height:199px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:199px;
}
#u29 {
  position:absolute;
  left:2px;
  top:92px;
  width:903px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:992px;
  top:1275px;
  width:200px;
  height:111px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:111px;
}
#u31 {
  position:absolute;
  left:2px;
  top:14px;
  width:196px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:854px;
  top:1310px;
  width:28px;
  height:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u33 {
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:289px;
  top:1270px;
  width:70px;
  height:20px;
  font-size:12px;
  color:#726461;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:265px;
  top:1311px;
  width:70px;
  height:20px;
  font-size:12px;
  color:#868686;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:427px;
  top:178px;
  width:40px;
  height:44px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:44px;
}
#u39 {
  position:absolute;
  left:2px;
  top:14px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:476px;
  top:188px;
  width:97px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  color:#666666;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:456px;
  top:241px;
  width:525px;
  height:416px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:416px;
}
#u43 {
  position:absolute;
  left:2px;
  top:200px;
  width:521px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:670px;
  top:610px;
  width:70px;
  height:20px;
  color:#3366FF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:512px;
  top:399px;
  width:430px;
  height:21px;
  text-align:left;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:21px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:426px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
}
#u11.a {
}
#u13.a {
}
#u15.a {
}
#u17.a {
}
#u19.a {
}
#u23.a {
  position:absolute;
  left:0px;
  top:1240px;
  width:1349px;
  height:300px;
}
#u24.a {
}
#u26.a {
}
#u28.a {
}
#u30.a {
}
#u32.a {
}
#u34.a {
}
#u36.a {
}
#u38.a {
}
#u40.a {
}
#u42.a {
}
#u44.a {
}
#u46.a {
}
