body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1312px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:-37px;
  top:642px;
  width:1349px;
  height:17px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:17px;
}
#u2 {
  position:absolute;
  left:2px;
  top:0px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:70px;
  top:656px;
  width:364px;
  height:1px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:1px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-8px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:70px;
  top:657px;
  width:364px;
  height:121px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:121px;
}
#u6 {
  position:absolute;
  left:2px;
  top:52px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:456px;
  top:652px;
  width:627px;
  height:100px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:100px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:146px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:146px;
}
#u10 {
  position:absolute;
  left:2px;
  top:65px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:580px;
  top:17px;
  width:607px;
  height:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:20px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1187px;
  top:9px;
  width:68px;
  height:29px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:94px;
  top:56px;
  width:200px;
  height:66px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:66px;
}
#u19 {
  position:absolute;
  left:2px;
  top:25px;
  width:196px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:444px;
  top:69px;
  width:815px;
  height:57px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:52px;
}
#u22 {
  position:absolute;
  left:2px;
  top:14px;
  width:112px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:116px;
  top:0px;
  width:116px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:52px;
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:112px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:232px;
  top:0px;
  width:116px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:52px;
}
#u28 {
  position:absolute;
  left:2px;
  top:14px;
  width:112px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:348px;
  top:0px;
  width:116px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:52px;
}
#u31 {
  position:absolute;
  left:2px;
  top:14px;
  width:112px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:464px;
  top:0px;
  width:116px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:52px;
}
#u34 {
  position:absolute;
  left:2px;
  top:14px;
  width:112px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:580px;
  top:0px;
  width:145px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:52px;
}
#u37 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:725px;
  top:0px;
  width:85px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:52px;
}
#u40 {
  position:absolute;
  left:2px;
  top:14px;
  width:81px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:128px;
  width:1349px;
  height:47px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:47px;
}
#u43 {
  position:absolute;
  left:2px;
  top:16px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:175px;
  top:144px;
  width:176px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:130px;
  top:200px;
  width:960px;
  height:400px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u47 {
  position:absolute;
  left:2px;
  top:192px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:485px;
  top:387px;
  width:134px;
  height:35px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:35px;
}
#u49 {
  position:absolute;
  left:2px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:369px;
  top:333px;
  width:100px;
  height:16px;
  text-align:right;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:369px;
  top:240px;
  width:470px;
  height:40px;
  text-align:left;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:40px;
}
#u53 {
  position:absolute;
  left:30px;
  top:12px;
  width:438px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:374px;
  top:249px;
  width:19px;
  height:19px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u55 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:485px;
  top:323px;
  width:250px;
  height:35px;
  color:#000000;
  text-align:left;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:35px;
}
#u57 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:675px;
  top:332px;
  width:95px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:226px;
  top:460px;
  width:767px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:750px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:5px;
  width:767px;
  height:1px;
}
#u61 {
  position:absolute;
  left:293px;
  top:483px;
  width:70px;
  height:16px;
  color:#FF9900;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:259px;
  top:480px;
  width:19px;
  height:19px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:293px;
  top:510px;
  width:100px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:15px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:300px;
  top:539px;
  width:397px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:15px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:300px;
  top:563px;
  width:400px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:15px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1312px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:-37px;
  top:642px;
  width:1349px;
  height:136px;
}
#u1.a {
}
#u3.a {
}
#u5.a {
}
#u7.a {
}
#u9.a {
}
#u11.a {
}
#u16.a {
}
#u18.a {
}
#u20.a {
}
#u42.a {
}
#u44.a {
}
#u46.a {
}
#u48.a {
}
#u50.a {
}
#u52.a {
}
#u54.a {
}
#u56.a {
}
#u58.a {
}
#u60.a {
}
#u60_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end.a {
  position:absolute;
  left:750px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:767px;
  height:1px;
}
#u61.a {
}
#u63.a {
}
#u65.a {
}
#u67.a {
}
#u69.a {
}
