body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:295px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:291px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:25px;
  top:14px;
  width:7px;
  height:11px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:11px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:35px;
  width:295px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:278px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:295px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:40px;
  width:300px;
  height:35px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:74px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:148px;
  top:0px;
  width:74px;
  height:30px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:222px;
  top:0px;
  width:73px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:64px;
  width:295px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:278px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:4px;
  width:295px;
  height:2px;
}
#u15 {
  position:absolute;
  left:0px;
  top:64px;
  width:75px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:58px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:4px;
  width:75px;
  height:2px;
}
#u16 {
  position:absolute;
  left:69px;
  top:40px;
  width:10px;
  height:28px;
}
#u16_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u16_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u16_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:28px;
}
#u17 {
  position:absolute;
  left:143px;
  top:40px;
  width:10px;
  height:28px;
}
#u17_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u17_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u17_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:28px;
}
#u18 {
  position:absolute;
  left:217px;
  top:41px;
  width:10px;
  height:28px;
}
#u18_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u18_end {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u18_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:28px;
}
#u19 {
  position:absolute;
  left:0px;
  top:35px;
  width:295px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:278px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:295px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:70px;
  width:295px;
  height:390px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:390px;
}
#u21 {
  position:absolute;
  left:2px;
  top:187px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:76px;
  width:295px;
  height:374px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:374px;
}
#u23 {
  position:absolute;
  left:2px;
  top:179px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:0px;
  top:72px;
  width:295px;
  height:10px;
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:278px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:5px;
  width:295px;
  height:1px;
}
#u25 {
  position:absolute;
  left:9px;
  top:92px;
  width:92px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:101px;
  top:92px;
  width:74px;
  height:16px;
  color:#6666FF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:9px;
  top:127px;
  width:274px;
  height:272px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:272px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:7px;
  top:110px;
  width:280px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u32 {
  position:absolute;
  left:8px;
  top:405px;
  width:280px;
  height:10px;
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u33 {
  position:absolute;
  left:191px;
  top:423px;
  width:92px;
  height:16px;
  color:#6666FF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:0px;
  top:444px;
  width:295px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:278px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:295px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:295px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u4_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end.a {
  position:absolute;
  left:278px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:295px;
  height:1px;
}
#u5.a {
}
#u14.a {
}
#u14_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end.a {
  position:absolute;
  left:278px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line.a {
  position:absolute;
  left:0px;
  top:4px;
  width:295px;
  height:2px;
}
#u15.a {
}
#u15_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end.a {
  position:absolute;
  left:58px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line.a {
  position:absolute;
  left:0px;
  top:4px;
  width:75px;
  height:2px;
}
#u16.a {
}
#u16_start.a {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u16_end.a {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u16_line.a {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:28px;
}
#u17.a {
}
#u17_start.a {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u17_end.a {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u17_line.a {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:28px;
}
#u18.a {
}
#u18_start.a {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u18_end.a {
  position:absolute;
  left:-5px;
  top:11px;
  width:20px;
  height:18px;
}
#u18_line.a {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:28px;
}
#u19.a {
}
#u19_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end.a {
  position:absolute;
  left:278px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:295px;
  height:1px;
}
#u20.a {
}
#u22.a {
}
#u24.a {
}
#u24_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end.a {
  position:absolute;
  left:278px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:295px;
  height:1px;
}
#u25.a {
}
#u27.a {
}
#u29.a {
}
#u31.a {
}
#u31_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end.a {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u32.a {
}
#u32_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end.a {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u33.a {
}
#u35.a {
}
#u35_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end.a {
  position:absolute;
  left:278px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:295px;
  height:1px;
}
