body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:295px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:291px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:25px;
  top:14px;
  width:7px;
  height:11px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:11px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:35px;
  width:295px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:278px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:295px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:40px;
  width:294px;
  height:460px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:460px;
}
#u6 {
  position:absolute;
  left:2px;
  top:222px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:47px;
  width:294px;
  height:303px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:303px;
}
#u8 {
  position:absolute;
  left:2px;
  top:144px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:56px;
  width:295px;
  height:40px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:44px;
  top:62px;
  width:235px;
  height:32px;
  color:#999999;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:32px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:36px;
  top:197px;
  width:200px;
  height:30px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:14px;
  top:66px;
  width:20px;
  height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:19px;
  top:134px;
  width:120px;
  height:16px;
  color:#FF6600;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:240px;
  top:134px;
  width:40px;
  height:16px;
  color:#6666FF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:295px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u4_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end.a {
  position:absolute;
  left:278px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:295px;
  height:1px;
}
#u5.a {
}
#u7.a {
}
#u9.a {
}
#u11.a {
}
#u13.a {
}
#u15.a {
}
#u17.a {
}
#u19.a {
}
