body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1339px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:129px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:129px;
}
#u1 {
  position:absolute;
  left:2px;
  top:56px;
  width:1344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-10px;
  top:80px;
  width:1358px;
  height:997px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1358px;
  height:997px;
}
#u3 {
  position:absolute;
  left:2px;
  top:490px;
  width:1354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:93px;
  top:10px;
  width:200px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:959px;
  top:-7px;
  width:319px;
  height:70px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:70px;
}
#u7 {
  position:absolute;
  left:2px;
  top:27px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1010px;
  top:33px;
  width:40px;
  height:21px;
  color:#FF6600;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1096px;
  top:35px;
  width:60px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u11 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1185px;
  top:35px;
  width:60px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u13 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:939px;
  width:1349px;
  height:17px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:17px;
}
#u16 {
  position:absolute;
  left:2px;
  top:0px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:107px;
  top:953px;
  width:364px;
  height:1px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:1px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-8px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:107px;
  top:954px;
  width:364px;
  height:121px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:121px;
}
#u20 {
  position:absolute;
  left:2px;
  top:52px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:493px;
  top:949px;
  width:627px;
  height:100px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:100px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:581px;
  top:380px;
  width:199px;
  height:16px;
  color:#FF0000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:124px;
  top:212px;
  width:996px;
  height:428px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:996px;
  height:428px;
}
#u26 {
  position:absolute;
  left:2px;
  top:206px;
  width:992px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:140px;
  top:560px;
  width:350px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:280px;
  top:577px;
  width:210px;
  height:16px;
}
#u30 {
  position:absolute;
  left:16px;
  top:0px;
  width:192px;
  word-wrap:break-word;
}
#u29_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31 {
  position:absolute;
  left:160px;
  top:572px;
  width:100px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1339px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
  position:absolute;
  left:0px;
  top:939px;
  width:1349px;
  height:136px;
}
#u15.a {
}
#u17.a {
}
#u19.a {
}
#u21.a {
}
#u23.a {
}
#u25.a {
}
#u27.a {
}
#u29.a {
}
#u29_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30.a {
}
#u31.a {
  position:absolute;
  left:160px;
  top:572px;
  width:100px;
  height:25px;
}
#u31_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
