body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u2 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:25px;
  top:14px;
  width:7px;
  height:11px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:11px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:110px;
  top:53px;
  width:82px;
  height:74px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:74px;
}
#u6 {
  position:absolute;
  left:2px;
  top:29px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:1px;
  top:150px;
  width:304px;
  height:75px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:36px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:36px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:295px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:36px;
  width:299px;
  height:34px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:34px;
}
#u11 {
  position:absolute;
  left:2px;
  top:9px;
  width:295px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
  overflow:hidden;
  visibility:hidden;
}
#u12_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:25px;
  top:14px;
  width:7px;
  height:11px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:11px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:20px;
  top:55px;
  width:260px;
  height:380px;
  font-size:14px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:380px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u1.a {
}
#u3.a {
}
#u5.a {
}
#u7.a {
}
#u0_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u12.a {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:500px;
}
#u13.a {
}
#u15.a {
}
#u17.a {
}
#u12_state0.a {
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
