body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:295px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:272px;
  width:295px;
  height:26px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:26px;
}
#u1 {
  position:absolute;
  left:2px;
  top:5px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:-10px;
  width:295px;
  height:40px;
  color:#FF9900;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:291px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:3px;
  width:20px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:37px;
  width:165px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:15px;
  top:69px;
  width:57px;
  height:54px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:54px;
}
#u9 {
  position:absolute;
  left:2px;
  top:19px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:27px;
  top:73px;
  width:41px;
  height:42px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
}
#u11 {
  position:absolute;
  left:2px;
  top:13px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:88px;
  top:69px;
  width:118px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:88px;
  top:89px;
  width:161px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:88px;
  top:111px;
  width:135px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:0px;
  top:134px;
  width:295px;
  height:136px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:136px;
}
#u19 {
  position:absolute;
  left:2px;
  top:60px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:134px;
  width:295px;
  height:26px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:26px;
}
#u21 {
  position:absolute;
  left:2px;
  top:5px;
  width:291px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:10px;
  top:139px;
  width:53px;
  height:16px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:20px;
  top:165px;
  width:250px;
  height:16px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:20px;
  top:185px;
  width:137px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:21px;
  top:205px;
  width:94px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:21px;
  top:223px;
  width:112px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:21px;
  top:244px;
  width:103px;
  height:16px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:10px;
  top:276px;
  width:66px;
  height:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:100px;
  top:276px;
  width:89px;
  height:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:37px;
  top:303px;
  width:123px;
  height:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:37px;
  top:321px;
  width:103px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:38px;
  top:338px;
  width:78px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:38px;
  top:357px;
  width:78px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:38px;
  top:378px;
  width:110px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:35px;
  top:399px;
  width:184px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:295px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
}
#u18.a {
}
#u20.a {
}
#u22.a {
}
#u24.a {
}
#u26.a {
}
#u28.a {
}
#u30.a {
}
#u32.a {
}
#u34.a {
}
#u36.a {
}
#u38.a {
}
#u40.a {
}
#u42.a {
}
#u44.a {
}
#u46.a {
}
#u48.a {
}
