body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:0px;
  width:640px;
  height:44px;
  font-size:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:44px;
}
#u1 {
  position:absolute;
  left:2px;
  top:14px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:43px;
  width:640px;
  height:548px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:548px;
}
#u3 {
  position:absolute;
  left:2px;
  top:266px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:591px;
  width:640px;
  height:51px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:51px;
}
#u5 {
  position:absolute;
  left:2px;
  top:18px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:101px;
  top:44px;
  width:638px;
  height:547px;
}
#u7 {
  position:absolute;
  left:691px;
  top:7px;
  width:30px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:178px;
  top:597px;
  width:50px;
  height:40px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:193px;
  top:625px;
  width:27px;
  height:12px;
  font-size:10px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:12px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:316px;
  top:597px;
  width:50px;
  height:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:320px;
  top:625px;
  width:50px;
  height:12px;
  font-size:10px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:12px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:454px;
  top:597px;
  width:50px;
  height:40px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:606px;
  top:597px;
  width:50px;
  height:40px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:460px;
  top:625px;
  width:60px;
  height:13px;
  font-size:10px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:13px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:620px;
  top:625px;
  width:40px;
  height:13px;
  font-size:10px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:390px;
  top:13px;
  width:50px;
  height:22px;
  font-size:18px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:190px;
  top:597px;
  width:25px;
  height:25px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:328px;
  top:597px;
  width:25px;
  height:25px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:466px;
  top:597px;
  width:25px;
  height:25px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u32 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:618px;
  top:600px;
  width:25px;
  height:25px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:100px;
  top:43px;
  width:640px;
  height:157px;
  font-size:14px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:157px;
}
#u36 {
  position:absolute;
  left:2px;
  top:70px;
  width:636px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
}
#u7.a {
}
#u9.a {
}
#u11.a {
}
#u13.a {
}
#u13_img.a {
}
#u14.a {
}
#u15.a {
}
#u17.a {
}
#u17_img.a {
}
#u18.a {
}
#u19.a {
}
#u19_img.a {
}
#u20.a {
}
#u21.a {
}
#u23.a {
}
#u25.a {
}
#u27.a {
}
#u29.a {
}
#u31.a {
}
#u33.a {
}
#u35.a {
}
