body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:20px;
  width:800px;
  height:17px;
  font-size:15px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:17px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:41px;
  width:800px;
  height:17px;
  font-size:15px;
  color:#4D4D4D;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:17px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:29px;
  top:79px;
  width:800px;
  height:17px;
  font-size:15px;
  color:#4D4D4D;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:17px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:29px;
  top:60px;
  width:800px;
  height:17px;
  font-size:15px;
  color:#4D4D4D;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:30px;
  top:127px;
  width:770px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  color:#999999;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:30px;
  top:153px;
  width:780px;
  height:145px;
  color:#999999;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:145px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:30px;
  top:317px;
  width:770px;
  height:62px;
  color:#4D4D4D;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:62px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:30px;
  top:457px;
  width:770px;
  height:107px;
  color:#4D4D4D;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:107px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:30px;
  top:333px;
  width:780px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:763px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:780px;
  height:1px;
}
#u17 {
  position:absolute;
  left:30px;
  top:472px;
  width:780px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:763px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:780px;
  height:1px;
}
#u18 {
  position:absolute;
  left:30px;
  top:656px;
  width:770px;
  height:73px;
  font-family:'宋体 Bold', '宋体';
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:73px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:30px;
  top:670px;
  width:780px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:763px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:780px;
  height:1px;
}
#u21 {
  position:absolute;
  left:30px;
  top:804px;
  width:770px;
  height:79px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:79px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:30px;
  top:820px;
  width:780px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:763px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:780px;
  height:1px;
}
#u24 {
  position:absolute;
  left:30px;
  top:1040px;
  width:780px;
  height:64px;
  color:#4D4D4D;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  height:64px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:780px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:30px;
  top:1057px;
  width:780px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:763px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:780px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
}
#u8.a {
}
#u10.a {
}
#u12.a {
}
#u14.a {
}
#u16.a {
}
#u16_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end.a {
  position:absolute;
  left:763px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:780px;
  height:1px;
}
#u17.a {
}
#u17_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end.a {
  position:absolute;
  left:763px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:780px;
  height:1px;
}
#u18.a {
}
#u20.a {
}
#u20_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end.a {
  position:absolute;
  left:763px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:780px;
  height:1px;
}
#u21.a {
}
#u23.a {
}
#u23_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end.a {
  position:absolute;
  left:763px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:780px;
  height:1px;
}
#u24.a {
}
#u26.a {
}
#u26_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end.a {
  position:absolute;
  left:763px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:780px;
  height:1px;
}
