body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:-11px;
  width:350px;
  height:717px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:717px;
}
#u1 {
  position:absolute;
  left:2px;
  top:350px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:77px;
  top:86px;
  width:317px;
  height:482px;
}
#u3 {
  position:absolute;
  left:77px;
  top:568px;
  width:296px;
  height:45px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:45px;
}
#u4 {
  position:absolute;
  left:2px;
  top:14px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:94px;
  top:583px;
  width:37px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:143px;
  top:583px;
  width:53px;
  height:19px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:222px;
  top:583px;
  width:62px;
  height:19px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:301px;
  top:583px;
  width:70px;
  height:19px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:77px;
  top:563px;
  width:296px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:279px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:296px;
  height:1px;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u3.a {
}
#u5.a {
}
#u7.a {
}
#u9.a {
}
#u11.a {
}
#u13.a {
}
#u13_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end.a {
  position:absolute;
  left:279px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:296px;
  height:1px;
}
