body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:295px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:291px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:25px;
  top:14px;
  width:7px;
  height:11px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:11px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:35px;
  width:295px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:278px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:295px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:40px;
  width:294px;
  height:530px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:530px;
}
#u6 {
  position:absolute;
  left:2px;
  top:257px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:50px;
  width:294px;
  height:360px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:360px;
}
#u8 {
  position:absolute;
  left:2px;
  top:172px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:12px;
  top:66px;
  width:53px;
  height:16px;
  color:#999999;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:12px;
  top:103px;
  width:268px;
  height:10px;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u12 {
  position:absolute;
  left:12px;
  top:82px;
  width:268px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u13 {
  position:absolute;
  left:12px;
  top:117px;
  width:58px;
  height:53px;
  color:#CCCCCC;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:53px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:54px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:83px;
  top:190px;
  width:116px;
  height:30px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:295px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u4_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end.a {
  position:absolute;
  left:278px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:295px;
  height:1px;
}
#u5.a {
}
#u7.a {
}
#u9.a {
}
#u11.a {
}
#u11_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end.a {
  position:absolute;
  left:251px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:268px;
  height:1px;
}
#u12.a {
  position:absolute;
  left:12px;
  top:82px;
  width:268px;
  height:25px;
}
#u12_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u13.a {
}
#u15.a {
}
