body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:673px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:173px;
  top:104px;
  width:500px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:36px;
  color:#FF0000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:36px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:673px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
