body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1312px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:-37px;
  top:642px;
  width:1349px;
  height:17px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:17px;
}
#u2 {
  position:absolute;
  left:2px;
  top:0px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:70px;
  top:656px;
  width:364px;
  height:1px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:1px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-8px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:70px;
  top:657px;
  width:364px;
  height:121px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:121px;
}
#u6 {
  position:absolute;
  left:2px;
  top:52px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:456px;
  top:652px;
  width:627px;
  height:100px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:100px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:130px;
  top:200px;
  width:960px;
  height:400px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:400px;
}
#u10 {
  position:absolute;
  left:2px;
  top:192px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:485px;
  top:387px;
  width:134px;
  height:35px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:35px;
}
#u12 {
  position:absolute;
  left:2px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:369px;
  top:333px;
  width:100px;
  height:16px;
  text-align:right;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:369px;
  top:240px;
  width:470px;
  height:40px;
  text-align:left;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:40px;
}
#u16 {
  position:absolute;
  left:30px;
  top:12px;
  width:438px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:374px;
  top:249px;
  width:19px;
  height:19px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:485px;
  top:323px;
  width:250px;
  height:35px;
  color:#000000;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:35px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:675px;
  top:332px;
  width:95px;
  height:16px;
  text-decoration:underline;
  color:#0000FF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:226px;
  top:460px;
  width:767px;
  height:10px;
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:750px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:5px;
  width:767px;
  height:1px;
}
#u24 {
  position:absolute;
  left:293px;
  top:483px;
  width:70px;
  height:16px;
  color:#FF9900;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:259px;
  top:480px;
  width:19px;
  height:19px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:293px;
  top:510px;
  width:100px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:300px;
  top:539px;
  width:397px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:15px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:300px;
  top:563px;
  width:400px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:15px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:146px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:146px;
}
#u36 {
  position:absolute;
  left:2px;
  top:65px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:686px;
  top:14px;
  width:494px;
  height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:20px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1187px;
  top:9px;
  width:68px;
  height:29px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:94px;
  top:56px;
  width:200px;
  height:66px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:66px;
}
#u46 {
  position:absolute;
  left:2px;
  top:25px;
  width:196px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:128px;
  width:1349px;
  height:47px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:47px;
}
#u48 {
  position:absolute;
  left:2px;
  top:16px;
  width:1345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:577px;
  top:14px;
  width:27px;
  height:16px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:444px;
  top:69px;
  width:815px;
  height:57px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:52px;
}
#u53 {
  position:absolute;
  left:2px;
  top:14px;
  width:112px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:116px;
  top:0px;
  width:116px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:52px;
}
#u56 {
  position:absolute;
  left:2px;
  top:14px;
  width:112px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:232px;
  top:0px;
  width:116px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:52px;
}
#u59 {
  position:absolute;
  left:2px;
  top:14px;
  width:112px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:348px;
  top:0px;
  width:116px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:52px;
}
#u62 {
  position:absolute;
  left:2px;
  top:14px;
  width:112px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:464px;
  top:0px;
  width:145px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:52px;
}
#u65 {
  position:absolute;
  left:2px;
  top:14px;
  width:141px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:609px;
  top:0px;
  width:87px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:52px;
}
#u68 {
  position:absolute;
  left:2px;
  top:14px;
  width:83px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:696px;
  top:0px;
  width:114px;
  height:52px;
  color:#000000;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:52px;
}
#u71 {
  position:absolute;
  left:2px;
  top:14px;
  width:110px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:854px;
  top:140px;
  width:84px;
  height:35px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:35px;
}
#u74 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:194px;
  top:179px;
  width:546px;
  height:16px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:202px;
  top:148px;
  width:946px;
  height:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:946px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:946px;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1312px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:-37px;
  top:642px;
  width:1349px;
  height:136px;
}
#u1.a {
}
#u3.a {
}
#u5.a {
}
#u7.a {
}
#u9.a {
}
#u11.a {
}
#u13.a {
}
#u15.a {
}
#u17.a {
}
#u19.a {
}
#u21.a {
}
#u23.a {
}
#u23_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end.a {
  position:absolute;
  left:750px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:767px;
  height:1px;
}
#u24.a {
}
#u26.a {
}
#u28.a {
}
#u30.a {
}
#u32.a {
}
#u34.a {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:175px;
}
#u35.a {
}
#u37.a {
}
#u43.a {
}
#u45.a {
}
#u47.a {
}
#u49.a {
}
#u51.a {
}
#u73.a {
}
#u75.a {
}
#u79.a {
  position:absolute;
  left:202px;
  top:148px;
  width:946px;
  height:16px;
}
#u80.a {
}
