body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:120px;
  top:180px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:607px;
  top:180px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:339px;
  top:180px;
  width:141px;
  height:33px;
  font-size:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:50px;
  top:140px;
  width:860px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:843px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:860px;
  height:1px;
}
#u7 {
  position:absolute;
  left:72px;
  top:83px;
  width:97px;
  height:37px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:50px;
  top:337px;
  width:860px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:843px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:860px;
  height:1px;
}
#u10 {
  position:absolute;
  left:72px;
  top:280px;
  width:97px;
  height:37px;
  color:#999999;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:120px;
  top:382px;
  width:193px;
  height:28px;
  color:#CCCCCC;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u6.a {
}
#u6_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end.a {
  position:absolute;
  left:843px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:860px;
  height:1px;
}
#u7.a {
}
#u9.a {
}
#u9_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end.a {
  position:absolute;
  left:843px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:860px;
  height:1px;
}
#u10.a {
}
#u12.a {
}
