body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:295px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u1 {
  position:absolute;
  left:2px;
  top:12px;
  width:291px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:25px;
  top:14px;
  width:7px;
  height:11px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:11px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:35px;
  width:295px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:278px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:295px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:40px;
  width:294px;
  height:530px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:530px;
}
#u6 {
  position:absolute;
  left:2px;
  top:257px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:50px;
  width:294px;
  height:360px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:360px;
}
#u8 {
  position:absolute;
  left:2px;
  top:172px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:12px;
  top:60px;
  width:256px;
  height:220px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:220px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:12px;
  top:264px;
  width:180px;
  height:16px;
  color:#6666FF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:16px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  white-space:nowrap;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:295px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
}
#u2.a {
}
#u4.a {
}
#u4_start.a {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end.a {
  position:absolute;
  left:278px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line.a {
  position:absolute;
  left:0px;
  top:5px;
  width:295px;
  height:1px;
}
#u5.a {
}
#u7.a {
}
#u9.a {
}
#u11.a {
}
